<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <style>
      table, td, th {border: solid 1px #000000; border-collapse: collapse}
      td.center {text-align:center}
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
