<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <style>
      table, td, th {border: solid 1px #000000; border-collapse: collapse}
      td.bgyreven {background-color: lightyellow}
      td.bgyrodd {background-color: azure}
      td.center {text-align: center}
      td.bg1q {background-color: white}
      td.bg2q {background-color: #E8E8E8}
      td.bg3q {background-color: white}
      td.bg4q {background-color: #E8E8E8}
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
