<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>Milestone Express AIIT 後悔の無い受講設計のために</title>
    <link rel="shortcut icon" href="/favicon.ico">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
