<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <style>
      form.margin {margin: 10px}
      table, td, th {border: solid 1px #000000; border-collapse: collapse}
      td.bgyreven {background-color: #ff9966}
      td.bgyrodd {background-color: #66ccff}
      td.center {text-align: center}
      td.bg1q {background-color: #dddddd}
      td.bg2q {background-color: #aaaaaa}
      td.bg3q {background-color: #dddddd}
      td.bg4q {background-color: #aaaaaa}
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
